<nav>
  <a routerLink="/pets" *ngIf="authService.isLoggedIn()">Animale</a>
  <a routerLink="/profile" *ngIf="authService.isLoggedIn()">Contul meu</a>

  <a routerLink="/login" *ngIf="!authService.isLoggedIn()">Login</a>
  <a routerLink="/register" *ngIf="!authService.isLoggedIn()">Register</a>

  <button
    *ngIf="authService.isLoggedIn()"
    (click)="logout()"
    style="background: none; border: none; color: blue; text-decoration: underline; cursor: pointer; padding: 0; margin-left: 10px;"
  >
    Logout
  </button>
</nav>
